{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{% static 'global.css' %}">
        <link rel="stylesheet" href="{% static 'home.css' %} ">
    </head>
    <body>
        <div class="main">
            <div class="navbar">
                <div class="logo"">
                    <p class="img-text">
                        <img class="logo-image" src="{% static 'vinyl.jpeg' %}">
                        DISCOVER
                    </p>
                </div>
                <div class="navbar-component">
                    {% include './components/navbar.html' %}
                </div>
            </div>
            <div class="body-content">
                {% block content %} {% endblock %}
            </div>
        </div>
    </body>
</html>