{% load static %}
<link rel="stylesheet" href="{% static 'navbar.css' %} ">
<div class="links">
    
    <div>
        <div class="url">
            <a href="{% url 'ScrollPage:scrollmusic' %}">Accueil</a>
        </div>

        <br />

        <div class="url">
            <a href="{% url 'Contact:contactPage' %}">Contact</a>
        </div>

        <br />

        <div class="url">
            <a href="{% url 'notifications' %}">Notifications</a>
        </div>

        <br />

        <div class="url">
            <a href="{% url 'parameters' %}">Paramètres</a>
        </div>

        <br />

        <div class="url">
            <a href="{% url 'Account:account' %}">Account</a>
        </div>
    </div>
    <div class="logout">
        {% if user.is_authenticated %}
        {{ user.get_username }}
        <form action="{% url 'ConnexionSystem:signout' %}" id="logout" method="POST">
            {% csrf_token %}
             <button type="submit">Logout</button>
        </form>
        {% endif %}
    </div>
</div>
